In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
data=pd.read_csv('data/train_data_week_1_challenge.csv')

In [9]:
data

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s01746,M,BC,0.666,0.468,0.666,7,6,other,True,305,354,86.0,1986.0
1,continue,s16986,M,BC,0.172,0.420,0.172,8,10,mother,False,331,516,15.0,1996.0
2,continue,s00147,F,BC,0.212,0.601,0.212,1,4,mother,False,311,209,14.0,1976.0
3,continue,s08104,F,ST,0.434,0.611,0.434,2,5,father,True,364,147,28.0,1911.0
4,continue,s11132,F,SC,0.283,0.478,0.283,1,10,mother,True,394,122,15.0,1889.0
5,continue,s18221,M,BC,0.462,0.450,0.462,0,10,father,True,382,470,71.0,1896.0
6,continue,s00031,F,BC,0.779,0.701,0.779,4,2,mother,True,338,145,2.0,1929.0
7,continue,s18731,F,SC,0.566,0.495,0.566,0,4,father,True,348,80,14.0,1871.0
8,continue,s02140,M,BC,0.966,0.806,0.966,4,10,mother,True,385,193,2.0,1989.0
9,continue,s12350,F,BC,0.646,0.804,0.646,8,0,mother,True,387,113,4.0,2014.0
10,continue,s07662,F,BC,0.746,0.669,0.746,3,6,mother,True,328,356,14.0,1943.0
11,continue,s01999,F,BC,0.542,0.767,0.542,1,5,mother,True,331,516,15.0,1996.0
12,continue,s05743,F,SC,0.566,0.495,0.566,0,4,father,True,307,177,15.0,1926.0
13,continue,s13264,M,SC,0.602,0.642,0.602,0,6,father,True,331,516,15.0,1996.0
14,continue,s13992,M,BC,0.768,0.755,0.768,4,7,father,True,359,305,44.0,1915.0
15,continue,s03043,M,SC,0.699,0.353,0.699,3,12,mother,True,306,72,1.0,1934.0
16,continue,s01285,F,BC,0.737,0.836,0.737,2,6,father,True,365,444,14.0,1970.0
17,continue,s17541,F,BC,0.390,0.497,0.390,3,2,mother,True,320,384,28.0,1909.0
18,continue,s17896,M,SC,0.575,0.719,0.575,1,2,mother,True,393,111,10.0,2006.0
19,continue,s13099,F,BC,0.482,0.698,0.482,5,2,mother,False,304,390,28.0,1914.0
20,continue,s04705,F,BC,0.740,0.869,0.740,4,3,mother,True,382,470,71.0,1896.0
21,continue,s14336,M,ST,0.655,0.841,0.655,3,6,father,False,359,305,44.0,1915.0
22,continue,s01852,M,SC,0.575,0.719,0.575,1,2,mother,True,340,134,15.0,1976.0
23,continue,s03888,F,SC,0.708,0.949,0.708,1,6,father,True,327,251,18.0,1984.0
24,drop,s00235,M,BC,0.725,0.556,0.725,6,2,father,True,313,399,14.0,1916.0
25,continue,s06453,M,BC,0.851,0.753,0.851,4,6,other,False,323,344,28.0,1961.0
26,continue,s16933,F,BC,0.757,0.481,0.757,1,6,mother,True,333,335,43.0,1916.0
27,continue,s15277,M,BC,0.633,0.885,0.633,6,2,mother,True,374,207,28.0,1896.0
28,continue,s03197,F,SC,0.386,0.632,0.386,9,0,mother,True,333,335,43.0,1916.0
29,continue,s11776,M,BC,0.671,0.731,0.671,6,11,mother,True,333,335,43.0,1916.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17160,continue,s17342,F,BC,0.404,0.608,0.404,6,9,mother,True,394,122,15.0,1889.0
17161,continue,s03469,F,BC,0.779,0.701,0.779,4,2,mother,True,341,430,44.0,1959.0
17162,continue,s08750,F,BC,0.478,0.332,0.478,9,0,mother,True,342,295,18.0,1907.0
17163,continue,s04694,F,ST,0.389,0.582,0.389,4,6,mother,True,337,185,15.0,1975.0
17164,continue,s01867,M,BC,0.023,0.441,0.023,6,3,mother,True,382,470,71.0,1896.0
17165,continue,s18613,M,BC,0.538,0.468,0.538,4,8,mother,True,383,132,14.0,1996.0
17166,continue,s18265,M,BC,0.916,0.757,0.916,6,3,mother,True,326,177,17.0,1986.0
17167,continue,s18545,M,OC,0.565,0.397,0.565,4,3,father,False,335,87,14.0,1886.0
17168,continue,s16899,F,ST,0.676,0.764,0.676,0,5,mother,True,333,335,43.0,1916.0
17169,continue,s11544,F,SC,0.443,0.424,0.443,4,0,father,True,370,272,1.0,1961.0
17170,continue,s18928,M,BC,1.030,0.597,1.030,3,4,mother,True,359,305,44.0,1915.0
17171,continue,s18435,F,BC,0.328,0.547,0.328,3,6,mother,True,380,228,15.0,1918.0
17172,continue,s14734,M,BC,0.666,0.468,0.666,7,6,other,True,360,273,2.0,1995.0
17173,continue,s12833,M,SC,0.733,0.448,0.733,1,7,mother,True,328,356,14.0,1943.0
17174,continue,s06070,M,SC,0.447,0.654,0.447,4,3,mother,True,360,273,2.0,1995.0
17175,continue,s17851,M,SC,0.502,0.573,0.502,2,4,mother,True,382,470,71.0,1896.0
17176,continue,s16996,M,BC,0.562,0.530,0.562,8,5,father,True,367,128,14.0,1969.0
17177,continue,s16530,F,SC,0.235,0.483,0.235,1,7,father,True,330,125,43.0,1959.0
17178,continue,s00352,F,OC,0.490,0.806,0.490,5,6,mother,False,351,251,100.0,1924.0
17179,continue,s14722,M,SC,0.763,0.720,0.763,6,6,mother,False,380,228,15.0,1918.0
17180,continue,s00168,F,ST,0.522,0.568,0.522,5,6,mother,False,325,97,43.0,1842.0
17181,continue,s05007,F,SC,0.566,0.855,0.566,4,5,mother,False,304,390,28.0,1914.0
17182,continue,s07766,F,BC,0.646,0.804,0.646,8,0,mother,True,387,113,4.0,2014.0
17183,continue,s06185,F,BC,0.352,0.569,0.352,2,7,mother,True,353,359,8.0,1986.0
17184,continue,s16018,F,SC,0.464,0.593,0.464,8,4,mother,True,323,344,28.0,1961.0
17185,drop,s10634,M,BC,0.389,0.216,0.389,6,5,mother,True,334,571,61.0,1924.0
17186,continue,s16358,M,BC,0.686,0.830,0.686,2,0,mother,True,334,571,61.0,1924.0
17187,continue,s03789,F,BC,0.390,0.497,0.390,3,2,mother,True,321,35,1.0,1983.0
17188,continue,s06904,F,SC,0.304,0.556,0.304,9,10,father,True,334,571,61.0,1924.0
17189,continue,s16057,F,SC,0.566,0.495,0.566,0,4,father,True,315,280,1.0,1923.0

In [10]:
data.columns

Index(['continue_drop', 'student_id', 'gender', 'caste', 'mathematics_marks',
       'english_marks', 'science_marks', 'science_teacher',
       'languages_teacher', 'guardian', 'internet', 'school_id',
       'total_students', 'total_toilets', 'establishment_year'],
      dtype='object')

In [11]:
data.shape

(17190, 15)

In [12]:
data.head()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,continue,s01746,M,BC,0.666,0.468,0.666,7,6,other,True,305,354,86.0,1986.0
1,continue,s16986,M,BC,0.172,0.420,0.172,8,10,mother,False,331,516,15.0,1996.0
2,continue,s00147,F,BC,0.212,0.601,0.212,1,4,mother,False,311,209,14.0,1976.0
3,continue,s08104,F,ST,0.434,0.611,0.434,2,5,father,True,364,147,28.0,1911.0
4,continue,s11132,F,SC,0.283,0.478,0.283,1,10,mother,True,394,122,15.0,1889.0

In [13]:
data.tail()

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
17185,drop,s10634,M,BC,0.389,0.216,0.389,6,5,mother,True,334,571,61.0,1924.0
17186,continue,s16358,M,BC,0.686,0.830,0.686,2,0,mother,True,334,571,61.0,1924.0
17187,continue,s03789,F,BC,0.390,0.497,0.390,3,2,mother,True,321,35,1.0,1983.0
17188,continue,s06904,F,SC,0.304,0.556,0.304,9,10,father,True,334,571,61.0,1924.0
17189,continue,s16057,F,SC,0.566,0.495,0.566,0,4,father,True,315,280,1.0,1923.0

In [14]:
data.isnull().sum()

continue_drop           0
student_id              0
gender                  0
caste                   0
mathematics_marks       0
english_marks           0
science_marks           0
science_teacher         0
languages_teacher       0
guardian                0
internet                0
school_id               0
total_students          0
total_toilets         312
establishment_year    312
dtype: int64

In [15]:
data['total_toilets'].fillna(data['total_toilets'].mean(),inplace=True)
data['establishment_year'].fillna(data['establishment_year'].mean(),inplace=True)
data.isnull().sum()

continue_drop         0
student_id            0
gender                0
caste                 0
mathematics_marks     0
english_marks         0
science_marks         0
science_teacher       0
languages_teacher     0
guardian              0
internet              0
school_id             0
total_students        0
total_toilets         0
establishment_year    0
dtype: int64

In [16]:
data['student_id'].dtype

dtype('O')

In [29]:
newdata={"continue_drop":{"continue":1,"drop":0}}

In [30]:
data.replace(newdata,inplace=True)

In [31]:
data

,continue_drop,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,1,s01746,1,0,0.666,0.468,0.666,7,6,2,1,305,354,86.0,1986.0
1,1,s16986,1,0,0.172,0.420,0.172,8,10,0,0,331,516,15.0,1996.0
2,1,s00147,0,0,0.212,0.601,0.212,1,4,0,0,311,209,14.0,1976.0
3,1,s08104,0,3,0.434,0.611,0.434,2,5,1,1,364,147,28.0,1911.0
4,1,s11132,0,1,0.283,0.478,0.283,1,10,0,1,394,122,15.0,1889.0
5,1,s18221,1,0,0.462,0.450,0.462,0,10,1,1,382,470,71.0,1896.0
6,1,s00031,0,0,0.779,0.701,0.779,4,2,0,1,338,145,2.0,1929.0
7,1,s18731,0,1,0.566,0.495,0.566,0,4,1,1,348,80,14.0,1871.0
8,1,s02140,1,0,0.966,0.806,0.966,4,10,0,1,385,193,2.0,1989.0
9,1,s12350,0,0,0.646,0.804,0.646,8,0,0,1,387,113,4.0,2014.0
10,1,s07662,0,0,0.746,0.669,0.746,3,6,0,1,328,356,14.0,1943.0
11,1,s01999,0,0,0.542,0.767,0.542,1,5,0,1,331,516,15.0,1996.0
12,1,s05743,0,1,0.566,0.495,0.566,0,4,1,1,307,177,15.0,1926.0
13,1,s13264,1,1,0.602,0.642,0.602,0,6,1,1,331,516,15.0,1996.0
14,1,s13992,1,0,0.768,0.755,0.768,4,7,1,1,359,305,44.0,1915.0
15,1,s03043,1,1,0.699,0.353,0.699,3,12,0,1,306,72,1.0,1934.0
16,1,s01285,0,0,0.737,0.836,0.737,2,6,1,1,365,444,14.0,1970.0
17,1,s17541,0,0,0.390,0.497,0.390,3,2,0,1,320,384,28.0,1909.0
18,1,s17896,1,1,0.575,0.719,0.575,1,2,0,1,393,111,10.0,2006.0
19,1,s13099,0,0,0.482,0.698,0.482,5,2,0,0,304,390,28.0,1914.0
20,1,s04705,0,0,0.740,0.869,0.740,4,3,0,1,382,470,71.0,1896.0
21,1,s14336,1,3,0.655,0.841,0.655,3,6,1,0,359,305,44.0,1915.0
22,1,s01852,1,1,0.575,0.719,0.575,1,2,0,1,340,134,15.0,1976.0
23,1,s03888,0,1,0.708,0.949,0.708,1,6,1,1,327,251,18.0,1984.0
24,0,s00235,1,0,0.725,0.556,0.725,6,2,1,1,313,399,14.0,1916.0
25,1,s06453,1,0,0.851,0.753,0.851,4,6,2,0,323,344,28.0,1961.0
26,1,s16933,0,0,0.757,0.481,0.757,1,6,0,1,333,335,43.0,1916.0
27,1,s15277,1,0,0.633,0.885,0.633,6,2,0,1,374,207,28.0,1896.0
28,1,s03197,0,1,0.386,0.632,0.386,9,0,0,1,333,335,43.0,1916.0
29,1,s11776,1,0,0.671,0.731,0.671,6,11,0,1,333,335,43.0,1916.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17160,1,s17342,0,0,0.404,0.608,0.404,6,9,0,1,394,122,15.0,1889.0
17161,1,s03469,0,0,0.779,0.701,0.779,4,2,0,1,341,430,44.0,1959.0
17162,1,s08750,0,0,0.478,0.332,0.478,9,0,0,1,342,295,18.0,1907.0
17163,1,s04694,0,3,0.389,0.582,0.389,4,6,0,1,337,185,15.0,1975.0
17164,1,s01867,1,0,0.023,0.441,0.023,6,3,0,1,382,470,71.0,1896.0
17165,1,s18613,1,0,0.538,0.468,0.538,4,8,0,1,383,132,14.0,1996.0
17166,1,s18265,1,0,0.916,0.757,0.916,6,3,0,1,326,177,17.0,1986.0
17167,1,s18545,1,2,0.565,0.397,0.565,4,3,1,0,335,87,14.0,1886.0
17168,1,s16899,0,3,0.676,0.764,0.676,0,5,0,1,333,335,43.0,1916.0
17169,1,s11544,0,1,0.443,0.424,0.443,4,0,1,1,370,272,1.0,1961.0
17170,1,s18928,1,0,1.030,0.597,1.030,3,4,0,1,359,305,44.0,1915.0
17171,1,s18435,0,0,0.328,0.547,0.328,3,6,0,1,380,228,15.0,1918.0
17172,1,s14734,1,0,0.666,0.468,0.666,7,6,2,1,360,273,2.0,1995.0
17173,1,s12833,1,1,0.733,0.448,0.733,1,7,0,1,328,356,14.0,1943.0
17174,1,s06070,1,1,0.447,0.654,0.447,4,3,0,1,360,273,2.0,1995.0
17175,1,s17851,1,1,0.502,0.573,0.502,2,4,0,1,382,470,71.0,1896.0
17176,1,s16996,1,0,0.562,0.530,0.562,8,5,1,1,367,128,14.0,1969.0
17177,1,s16530,0,1,0.235,0.483,0.235,1,7,1,1,330,125,43.0,1959.0
17178,1,s00352,0,2,0.490,0.806,0.490,5,6,0,0,351,251,100.0,1924.0
17179,1,s14722,1,1,0.763,0.720,0.763,6,6,0,0,380,228,15.0,1918.0
17180,1,s00168,0,3,0.522,0.568,0.522,5,6,0,0,325,97,43.0,1842.0
17181,1,s05007,0,1,0.566,0.855,0.566,4,5,0,0,304,390,28.0,1914.0
17182,1,s07766,0,0,0.646,0.804,0.646,8,0,0,1,387,113,4.0,2014.0
17183,1,s06185,0,0,0.352,0.569,0.352,2,7,0,1,353,359,8.0,1986.0
17184,1,s16018,0,1,0.464,0.593,0.464,8,4,0,1,323,344,28.0,1961.0
17185,0,s10634,1,0,0.389,0.216,0.389,6,5,0,1,334,571,61.0,1924.0
17186,1,s16358,1,0,0.686,0.830,0.686,2,0,0,1,334,571,61.0,1924.0
17187,1,s03789,0,0,0.390,0.497,0.390,3,2,0,1,321,35,1.0,1983.0
17188,1,s06904,0,1,0.304,0.556,0.304,9,10,1,1,334,571,61.0,1924.0
17189,1,s16057,0,1,0.566,0.495,0.566,0,4,1,1,315,280,1.0,1923.0

In [28]:
data.internet=data.internet.astype(int)

In [49]:
feature=['gender','caste','mathematics_marks','english_marks','science_marks','science_teacher','languages_teacher','guardian','internet','total_students','total_toilets']

In [61]:
x=data[feature]
y=data.continue_drop

In [60]:
from sklearn.ensemble import RandomForestRegressor
rforest=RandomForestRegressor()
rforest.fit(x,y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [ ]:
import seaborn as sns
from seaborn import *
%matplotlib inline
buetify(figure_width=6)

In [66]:
selected_feature=['gender','caste','mathematics_marks',"english_marks",'science_marks','science_teacher','guardian','internet']
x1=data[selected_feature]

In [135]:
x1.columns

Index(['gender', 'caste', 'mathematics_marks', 'english_marks',
       'science_marks', 'science_teacher', 'guardian', 'internet'],
      dtype='object')

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x1,y,test_size=0.25,random_state=1234)

In [74]:
from sklearn.linear_model import LogisticRegression
model_one=LogisticRegression()
model_one.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [76]:
y_predict1=model_one.predict(x_test)

In [80]:
from sklearn.metrics import f1_score
test_acc=f1_score(y_test,y_predict1)
test_acc

0.9752026704816403

In [84]:
from sklearn.metrics import confusion_matrix
value=confusion_matrix(y_test,y_predict1)
value

array([[   0,  208],
       [   0, 4090]], dtype=int64)

In [85]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=10)
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [87]:
y_predict2=rf.predict(x_test)

In [89]:
test_acc=f1_score(y_test,y_predict2)
test_acc

1.0

In [91]:
value=confusion_matrix(y_test,y_predict2)
value

array([[ 208,    0],
       [   0, 4090]], dtype=int64)

In [95]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)               # 2. instantiate model
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [96]:
y_pred3 = knn.predict(x_test)                      
test_acc  = f1_score(y_test, y_pred3)
print("Test Accuracy: {}" .format(test_acc))

Test Accuracy: 1.0

In [102]:
testing_data = pd.read_csv('data/test_data_week_1_challenge.csv')
testing_data.head()

,student_id,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,languages_teacher,guardian,internet,school_id,total_students,total_toilets,establishment_year
0,s00529,F,BC,0.212,0.601,0.212,1,4,mother,False,341,430,44.0,1959.0
1,s13519,F,BC,0.511,0.551,0.511,1,5,mother,True,329,275,60.0,1914.0
2,s01753,M,BC,0.890,0.644,0.890,2,2,mother,True,390,140,14.0,1972.0
3,s00034,F,BC,0.355,0.373,0.355,7,4,mother,True,336,206,17.0,1940.0
4,s03027,F,BC,0.691,0.147,0.691,4,3,father,True,361,287,15.0,1992.0

In [ ]:
testdata = {
                "gender":{"F":0,"M":1},
                "caste":{"BC":0,"SC":1,"OC":2,"ST":3},
                "guardian":{"mother":0,"father":1,"other":2,"mixed":3}
               }
testing_data.replace(testdata, inplace=True)
testing_data.internet = testing_data.internet.astype(int)
testing_data.head()

In [147]:
# dropping less important features
testing_data.drop('total_toilets',axis=1, inplace=True)
testing_dara.drop('total_students',axis=1, inplace=True)
testing_data.drop('student_id',axis=1,inplace=True)
testing_data.drop('school_id',axis=1,inplace=True)
testing_data.drop('establishment_year',axis=1, inplace=True)
testing.head()

In [132]:
testing_data.columns

Index(['gender', 'caste', 'mathematics_marks', 'english_marks',
       'science_marks', 'science_teacher', 'languages_teacher', 'guardian',
       'internet'],
      dtype='object')

In [138]:
testing_data.drop('languages_teacher',axis=1,inplace=True)
testing_data

,gender,caste,mathematics_marks,english_marks,science_marks,science_teacher,guardian,internet
0,0,0,0.212,0.601,0.212,1,0,False
1,0,0,0.511,0.551,0.511,1,0,True
2,1,0,0.890,0.644,0.890,2,0,True
3,0,0,0.355,0.373,0.355,7,0,True
4,0,0,0.691,0.147,0.691,4,1,True
5,1,1,0.366,0.440,0.366,2,0,True
6,1,0,0.800,0.513,0.800,6,0,True
7,1,0,0.388,0.355,0.388,4,0,True
8,1,0,0.456,0.518,0.456,4,0,True
9,1,0,0.126,0.260,0.126,4,0,True
10,0,0,0.212,0.601,0.212,1,0,False
11,0,0,0.346,0.296,0.346,2,2,False
12,0,1,0.684,0.848,0.684,8,1,True
13,0,2,0.576,0.667,0.576,7,0,False
14,1,1,0.699,0.353,0.699,3,0,True
15,0,1,0.592,0.891,0.592,3,0,False
16,0,0,0.346,0.296,0.346,2,2,False
17,1,0,0.762,0.562,0.762,3,0,True
18,1,0,0.562,0.530,0.562,8,1,True
19,1,0,0.301,0.146,0.301,4,0,True
20,1,0,0.137,0.214,0.137,4,0,True
21,0,3,0.594,0.532,0.594,2,0,True
22,0,0,0.519,0.697,0.519,2,0,False
23,1,0,0.730,0.502,0.730,6,0,False
24,1,0,0.926,0.650,0.926,0,0,True
25,0,0,0.461,0.524,0.461,0,0,True
26,1,0,0.781,0.474,0.781,7,0,False
27,0,1,0.163,0.480,0.163,4,0,True
28,1,2,0.454,0.611,0.454,5,0,True
29,1,1,0.851,0.584,0.851,3,0,True
...,...,...,...,...,...,...,...,...
1880,0,0,0.353,0.570,0.353,5,2,True
1881,1,0,0.458,0.413,0.458,6,1,True
1882,0,1,0.274,0.240,0.274,0,0,False
1883,1,1,0.502,0.573,0.502,2,0,True
1884,1,2,0.824,0.846,0.824,4,0,True
1885,0,3,0.676,0.764,0.676,0,0,True
1886,1,1,0.337,0.283,0.337,2,2,True
1887,0,3,0.522,0.568,0.522,5,0,False
1888,0,1,0.544,0.563,0.544,2,0,True
1889,1,0,0.391,0.451,0.391,5,1,True
1890,0,0,0.389,0.537,0.389,3,0,False
1891,1,2,0.359,0.521,0.359,2,2,True
1892,1,1,0.685,0.662,0.685,4,0,True
1893,1,1,0.373,0.615,0.373,4,1,True
1894,0,1,1.032,0.828,1.032,0,0,True
1895,0,0,0.500,0.544,0.500,1,0,True
1896,1,0,0.094,0.287,0.094,4,0,True
1897,0,1,0.582,0.623,0.582,7,1,False
1898,0,1,0.283,0.478,0.283,1,0,True
1899,1,1,0.763,0.720,0.763,6,0,False
1900,0,2,0.681,0.849,0.681,4,0,True
1901,1,0,0.321,0.380,0.321,5,0,True
1902,1,1,0.699,0.353,0.699,3,0,True
1903,0,0,0.391,0.533,0.391,5,0,True
1904,0,1,0.266,0.271,0.266,4,0,True
1905,1,0,0.666,0.468,0.666,7,2,True
1906,1,3,0.679,0.714,0.679,4,0,True
1907,0,0,0.352,0.569,0.352,2,0,True
1908,0,2,0.670,0.793,0.670,4,0,True
1909,1,3,0.349,0.302,0.349,1,0,True

In [140]:
selfeatures = ['gender', 'caste', 'mathematics_marks', 'english_marks', 'science_marks', 'science_teacher', 'guardian', 'internet']
newdata= testing_data[selfeatures]

In [141]:
pred = knn.predict(newdata)
result = np.array(pred)                        
result

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [142]:
testing_data.columns

Index(['gender', 'caste', 'mathematics_marks', 'english_marks',
       'science_marks', 'science_teacher', 'guardian', 'internet'],
      dtype='object')

In [146]:
np.sav("result.npy")

AttributeError: module 'numpy' has no attribute 'sav'